{% extends "registration/base.html" %}

{% block title %}<title>ログイン</title>{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">ログイン</h2>
        <!-- フラッシュメッセージの表示開始 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <!-- 各メッセージはBootstrapのアラートを使用して表示。-->
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="post">
          <div class="mb-3">
            <label for="email" class="form-label">メールアドレス</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" class="form-control" name="password" id="password" required>
          </div>
          <div class="d-flex justify-content-center my-4 gap-2">
            <button type="submit" class="btn btn-primary flex-grow-1">ログイン</button>
            <a href="{{ url_for('signup') }}" class="btn btn-outline-primary flex-grow-1">ユーザー登録はこちら</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_text %}Login{% endblock %}