{% extends "base.html" %}

{% block title %}チャットルーム{% endblock %}
{% block style %}
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
    }
    .card {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden; /* カードの外側にコンテンツがはみ出さないようにする */
    }

    .card-header, .card-footer {
      flex-shrink: 0; /* ヘッダーとフッターのサイズを固定 */
    }

    .chat-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden; /* コンテナの外側にコンテンツがはみ出さないようにする */
    }

    .card-body {
      min-height: calc(100vh - 250px);
      flex-grow: 1;
      overflow-y: auto; /* 必要に応じてスクロールバーを表示 */
    }
    .message-box {
      position: relative;
      max-width: 60%; /* メッセージボックスの最大幅を設定 */
    }

    .message-box::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      right: -3px;
      bottom: -3px;
      border: 1px solid #414141d6;
      border-radius: inherit;
      z-index: 0;
    }

  </style>
{% endblock %}
{% block body %}
<div class="container mt-3 mb-4" style="padding-top: 78px;">
  <div class="row col-12 mx-auto">
    <div class="card mb-3">
      <div class="card-header d-flex align-items-center me-1">
        <div>
          <h5 class="mb-0 text-secondary">Name: <span class="text-primary">{{ personal_channel.name }}</span></h5>
          <p class="mb-0 text-secondary">Description: {{ personal_channel.description }}</p>
        </div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#update-confirmation-modal" data-href="/personal_channels/detail/{{ personal_channel.id }}" data-channel-id="{{ personal_channel.id }}" data-channel-name="{{ personal_channel.name }}" data-channel-description="{{ personal_channel.description }}" class="text-decoration-none ms-3">
          <i class="fas fa-edit fa-lg text-secondary"></i>
        </a>
      </div>
      <div class="chat-container">
        <div class="card-body" id="chat-window">
          {% for personal_message in personal_messages %}
          {% if personal_message.user_id == user_id %}
          <!-- ログインユーザーのメッセージ -->
          <div class="d-flex justify-content-end mt-5 align-items-center personal-message-option" data-message-id="{{ personal_message.id }}">
            <div class="bg-primary text-white rounded p-2 shadow-sm message-box" style="position: relative; max-width: 60%;">
              {{ personal_message.message }}
              <div class="user-selected-badge" style="position: absolute; bottom: -34px; left: 3px;"></div>
              <div style="position: absolute; bottom: -34px; right: 4px;">
                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#badge-selection-modal">
                  <i class="fas fa-plus text-body-secondary"></i>
                </button>
              </div>
            </div>
            <form action="/delete_personal_message" method="POST" class="d-inline">
              <input type="hidden" name="personal_message_id" value="{{ personal_message.id }}">
              <input type="hidden" name="personal_channel_id" value="{{ personal_channel.id }}">
              <button type="submit" class="btn btn-link p-0 ms-2">
                <i class="fas fa-trash-alt text-primary"></i>
              </button>
            </form>
          </div>
          {% else %}
          <!-- 他のユーザーのメッセージ -->
          <div class="d-flex justify-content-start mt-5 align-items-center personal-message-option" data-message-id="{{ personal_message.id }}">
            <img src="/static/img/user_default01.png" class="rounded-circle me-2" style="width: 30px; height: 30px; object-fit: cover;" alt="User Image">
            <div class="bg-secondary text-white rounded p-2 shadow-sm message-box" style="max-width: 60%;">
              {{ personal_message.message }}
              <div class="user-selected-badge" style="position: absolute; bottom: -34px; left: 3px;"></div>
              <div style="position: absolute; bottom: -34px; right: 4px;">
                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#badge-selection-modal">
                  <i class="fas fa-plus text-body-secondary"></i>
                </button>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="card-footer ">
        <form id="chat-form" action="/personal_message" method="POST">
          <div class="input-group">
            <input type="text" class="form-control chat-input" placeholder="メッセージを入力" name="personal_message" id="chat-message">
            <input type="hidden" name="personal_channel_id" value="{{ personal_channel.id }}">
            <button class="btn btn-primary" type="submit">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- 個人チャンネル更新時のモーダル -->
<div id="update-confirmation-modal" class="modal fade" tabindex="-1" aria-labelledby="updateChannelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="updateChannelModalLabel">個人チャンネルを編集</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <form id="updateChannelForm" class="modal-body" action="/update_personal_detail" method="POST">
        <div class="mb-3">
          <input type="text" id="updatePersonalChannelName" class="form-control" placeholder="個人チャンネル名" name="personalChannelName" required>
        </div>
        <div class="mb-3">
          <input type="text" id="updatePersonalChannelDescription" class="form-control" placeholder="個人チャンネルの説明" name="personalChannelDescription" required>
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block w-50" id="update-channel-confirmation-button">更新</button>
      </form>
    </div>
  </div>
</div>

<!-- バッジ付与時のモーダル -->
<div id="badge-selection-modal" class="modal fade" tabindex="-1" aria-labelledby="badgeSelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <!-- GIF画像のバッジ -->
        <button class="btn badge-select-option" data-badge="/static/img/fast_parrot.gif" data-badge-type="FAST_PARROT" aria-label="Fast Parrot">
          <img src="/static/img/fast_parrot.gif" alt="Fast Parrot" style="width: 24px; height: 24px;">
        </button>
        <button class="btn badge-select-option" data-badge="/static/img/angel_parrot.gif" data-badge-type="ANGEL_PARROT" aria-label="Angel Parrot">
          <img src="/static/img/angel_parrot.gif" alt="Angel Parrot" style="width: 24px; height: 24px;">
        </button>
        <!-- 他のGIF画像のバッジも同様に追加 -->
      </div>
    </div>
  </div>
</div>

{% block pagination %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/PersonalChannels/personalChannelUpdateModal.js') }}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // バッジ選択時のイベントリスナー設定
    document.querySelectorAll('.badge-select-option').forEach(function(btn) {
      btn.addEventListener('click', function() {
        const selectedBadgeURL = this.getAttribute('data-badge');
        const selectedBadgeType = this.getAttribute('data-badge-type');
        addSelectedBadge(selectedBadgeURL, selectedBadgeType);

        // モーダルを閉じる
        const badgeModal = bootstrap.Modal.getInstance(document.getElementById('badge-selection-modal'));
        badgeModal.hide();
      });
    });

    // 個人メッセージ選択時のイベントリスナー設定
    document.querySelectorAll('.personal-message-option').forEach(function(btn) {
      btn.addEventListener('click', function() {
        const personalMessageId = this.getAttribute('data-message-id');
        window.selectedPersonalMessageId = personalMessageId; // 選択されたメッセージIDをグローバル変数に設定
        window.selectedBadgeDisplayArea = this.querySelector('.user-selected-badge'); // この行を追加
      });
    });
  });

  // 選択されたバッジを表示し、サーバーへの送信を行う関数
  function addSelectedBadge(badgeURL, badgeType) {
    // badgeDisplayAreaをグローバル変数から取得するように修正
    const badgeDisplayArea = window.selectedBadgeDisplayArea; 
    if (!badgeDisplayArea) {
      console.error('バッジを表示する場所が選択されていません。');
      return;
    }

    const badgeImg = document.createElement('img');
    badgeImg.src = badgeURL;
    badgeImg.alt = 'Selected Badge';
    badgeImg.style = 'width: 24px; height: 24px; margin: 0 4px;';
    badgeDisplayArea.appendChild(badgeImg);

    if(window.selectedPersonalMessageId) {
      fetch('/add_personal_badge', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          associableId: window.selectedPersonalMessageId,
          badgeType: badgeType,
        }),
      })
      .then(response => response.json())
      .then(data => console.log('Success:', data))
      .catch(error => console.error('Error:', error));
    } else {
      console.error('個人メッセージが選択されていません。');
    }
}
</script>
{% endblock %}
