{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="col-md-9 mx-auto">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <!-- 各メッセージはBootstrapのアラートを使用して表示。-->
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="channel-title text-center mb-4">
        <h2>CHANNELS</h2>
        <p class="channel-title-text text-muted">ここはチャンネル一覧です</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm mb-4" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
        <li class="nav-item" role="presentation">
          <a class="nav-link active rounded-5" id="home-tab2" href="{{ url_for('index') }}" role="button" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" id="profile-tab2" href="{{ url_for('show_personal_channels') }}" role="button" aria-selected="false">Personal</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" id="past-tab2" href="#" role="button" aria-selected="false">Archive</a>
        </li>
      </ul>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">チャンネル一覧</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for channel in channels %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{{ url_for('channel_detail', channel_id=channel.id) }}" class="text-decoration-none">
              <div>
                <h5 class="mb-1">{{ channel.name }}</h5>
                <p class="mb-0 text-muted">{{ channel.description }}</p>
              </div>
              </a>
              <div class="ms-auto">
                {% if session.is_admin %}
                <a href="/channels/edit/{{ channel.id }}" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#update-confirmation-modal" data-channel-id="{{ channel.id }}" data-channel-name="{{ channel.name }}" data-channel-description="{{ channel.description }}">編集</a>
                <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-confirmation-modal" data-href="/channels/delete/{{ channel.id }}">削除</a>
                {% endif%}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="text-end">
        {% if session.is_admin %}
        <button id="add-channel-button" class="my-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-channel-modal">チャンネルを追加する</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="add-channel-modal" class="modal fade" tabindex="-1" aria-labelledby="addChannelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">

        <h5 class="modal-title" id="addChannelModalLabel">チャンネルを追加</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる">
        </button>
      </div>
      <form name="addChannelForm" class="modal-body" action="/" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="チャンネル名" name="channelTitle" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="チャンネルの説明" name="channelDescription" required>
        </div>
        <div class="mb-3">
          <input type="date" class="form-control" name="channelStartDate" required>
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block w-50" id="add-channel-confirmation-button">登録</button>
      </form>
    </div>
  </div>
</div>

<div id="delete-confirmation-modal" class="modal fade" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">チャンネルの削除確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <p>本当にこのチャンネルを削除してもよろしいですか？</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</a>
        <!-- これは実際に削除処理を行うためのリンクです -->
        <a href="#" class="btn btn-outline-danger" id="delete-confirmation-link">削除</a>
      </div>
    </div>
  </div>
</div>

<!-- チャンネル更新時のモーダル -->
<div id="update-confirmation-modal" class="modal fade" tabindex="-1" aria-labelledby="updateChannelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="updateChannelModalLabel">チャンネルを編集</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <form id="updateChannelForm" class="modal-body">
        <div class="mb-3">
          <input type="text" id="updateChannelName" class="form-control" placeholder="チャンネル名" name="ChannelName" required>
        </div>
        <div class="mb-3">
          <input type="text" id="updateChannelDescription" class="form-control" placeholder="チャンネルの説明" name="ChannelDescription" required>
        </div>
        <button type="button" class="btn btn-primary mx-auto d-block w-50" id="update-channel-confirmation-button">更新</button>
      </form>
    </div>
  </div>
</div>

<div class="card-footer">
  <nav aria-label="チャンネルナビゲーション">
    <ul class="pagination justify-content-center">
      <li class="page-item" id="prev"><a class="page-link" href="#">prev</a></li>
      
      <!--　ページネーションリンクはここに動的に挿入される-->
      <li class="page-item" id="next"><a class="page-link" href="#">next</a></li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block footer_text %}チャンネル一覧だよ{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/channelDeleteModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/Channels/ChannelUpdateModal.js') }}"></script>
{% endblock %}